:root {
  --text: #01040c;
  --text-50: #e7edfd;
  --text-100: #d0dbfb;
  --text-200: #a1b8f7;
  --text-300: #7194f4;
  --text-400: #4271f0;
  --text-500: #134dec;
  --text-600: #0f3ebd;
  --text-700: #0b2e8e;
  --text-800: #081f5e;
  --text-900: #040f2f;
  --text-950: #020818;

  --background: #f8f9fe;
  --background-50: #e9ecfc;
  --background-100: #d2d9f9;
  --background-200: #a6b3f2;
  --background-300: #798cec;
  --background-400: #4c66e6;
  --background-500: #2040df;
  --background-600: #1933b3;
  --background-700: #132686;
  --background-800: #0d1a59;
  --background-900: #060d2d;
  --background-950: #030616;

  --primary: #1030d1;
  --primary-50: #e7ebfd;
  --primary-100: #d0d7fb;
  --primary-200: #a0aff8;
  --primary-300: #7187f4;
  --primary-400: #415ff1;
  --primary-500: #1236ed;
  --primary-600: #0e2cbe;
  --primary-700: #0b218e;
  --primary-800: #07165f;
  --primary-900: #040b2f;
  --primary-950: #020518;

  --secondary: #99a5e5;
  --secondary-50: #ebedfa;
  --secondary-100: #d6dbf5;
  --secondary-200: #aeb7ea;
  --secondary-300: #8593e0;
  --secondary-400: #5d6fd5;
  --secondary-500: #344bcb;
  --secondary-600: #2a3ca2;
  --secondary-700: #1f2d7a;
  --secondary-800: #151e51;
  --secondary-900: #0a0f29;
  --secondary-950: #050714;

  --accent: #f09946;
  --accent-50: #fdf2e7;
  --accent-100: #fbe5d0;
  --accent-200: #f7cba1;
  --accent-300: #f4b071;
  --accent-400: #f09642;
  --accent-500: #ec7c13;
  --accent-600: #bd630f;
  --accent-700: #8e4a0b;
  --accent-800: #5e3208;
  --accent-900: #2f1904;
  --accent-950: #180c02;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  color: var(--text-800);
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    160deg,
    var(--background-50) 0%,
    var(--background-100) 8%,
    var(--background) 20%
  );
}

@media (max-width: 1024px) {
  body {
    background: linear-gradient(
      160deg,
      var(--background-50) 0%,
      var(--background-100) 6%,
      var(--background) 15%
    );
  }
}

h1 {
  font-size: clamp(49px, 10vw, 95px);
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  background: -webkit-linear-gradient(0deg, var(--primary), var(--accent) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -5px;
  margin-left: -4px;
}

h2 {
  font-size: clamp(25px, 5vw, 39px);
  font-family: "Satoshi", sans-serif;
  text-decoration: underline;
}

h3 {
  font-size: 25px;
}

h3.courier {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
}

p {
  font-size: clamp(15px, 2vw, 16px);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  padding: 80px 25px;
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    padding: 100px 25px;
  }
}

.container-vertical {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1024px;
  padding: 150px 25px;
  width: 100%;
  flex-direction: column;
}

.full {
  min-height: 90svh;
  background-color: transparent;
}

.half {
  min-height: 50svh;
}

.logo {
  height: 42px;
}

.path {
  fill: var(--primary);
  transition: fill ease-in-out 250ms;
}

.navbar-container-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
  transition: transform ease-out 400ms;
  animation: fade-in 2s;
}

.nav-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  padding: 20px 30px;
  transition: padding ease-in-out 250ms;
}

.scrolled {
  padding: 10px 30px;
  backdrop-filter: blur(3px);
}

.hidenav {
  transform: translateY(-100%);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a:hover {
  color: var(--primary);
  transition: color ease-in-out 250ms;
}

a:hover .path {
  fill: var(--primary);
}

.links a {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 769px) {
  .links a {
    font-size: 13px;
  }
  .nav-links {
    gap: 20px;
  }
  .nav-container-top .btn-cv {
    display: none;
  }
}
li {
  list-style: none;
}

.btn-cv {
  background-image: linear-gradient(
    135deg,
    var(--primary) 0%,
    var(--primary-700) 50%,
    var(--primary-950) 100%
  );
  font-size: 13px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: var(--background);
  border-radius: 5px;
  border: 1px solid var(--primary);
  transition: 0.5s;
}

.btn-cv:hover {
  background-position: right center; /* change the direction of the change here */
  color: var(--background);
}

.btn-cv.lg {
  padding: 10px 20px;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 769px) {
  .btn-navbar {
    display: none;
  }
}

.btn-navbar:hover {
  border: 2px solid var(--primary);
  color: var(--background);
  background-color: rgba(16, 47, 206, 0.5);
}

.btn-container {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.btn {
  background-color: var(--background);
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.btn a {
  color: var(--text);
}

.btn.icon {
  padding: 10px 10px;
}

.btn.cta {
  margin-top: 20px;
  font-size: 20px;
  padding: 20px 30px;
}

.btn:hover {
  background-color: var(--secondary-100);
}

.btn-container .btn svg {
  fill: var(--secondary);
  width: 24px;
  height: 24px;
  transition: fill 250ms ease-in-out;
}

.btn-container .btn:hover svg {
  fill: var(--primary);
}

/* ------------ HERO ------------ */
.hero {
  padding: 0px 25px 100px 25px;
  animation: fade-in 1s;
  display: inline-flex;
}

span.intro {
  font-size: 20px;
  font-family: "Satoshi", sans-serif;
}

.hero-container p {
  font-size: clamp(15px, 5vw, 25px);
}

.roles-container {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}

.hero-roles {
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(16px, 4vw, 25px);
  color: var(--primary);
  text-decoration: none;
  margin-left: -8px;
  transition: color ease-in-out 250ms;
  display: flex;
}

.hero-hover:hover .hero-roles {
  color: var(--secondary);
}

.btn-container {
  display: flex;
  gap: 10px;
}

.hero-roles > svg {
  fill: var(--accent);
}

/* ------------ ABOUT ------------ */

.about-container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.about-p {
  line-height: 21px;
}

.about-p span {
  font-weight: 600;
}

.curr-role {
  background: -webkit-linear-gradient(0deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.date-desc {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 25px;
  padding-top: 20px;
}

.date {
  position: absolute;
  font-size: 61px;
  opacity: 10%;
  font-weight: 500;
}

.date-desc-job {
  padding: 40px 20px;
}

.date-desc-job > span {
  font-weight: 400;
  font-size: 20px;
}

.no-date {
  padding: 0 20px;
}
.date-desc-job > span {
  font-weight: 400;
  font-size: 20px;
}

/* ------------ WORKS ------------ */

.works-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.work-section {
  display: flex;
  gap: 20px;
  max-width: 1024px;
  width: 100%;
}

.description,
.img-btns {
  max-width: 512px;
  width: 100%;
}

@media (max-width: 1024px) {
  .container-vertical {
    gap: 10px;
  }

  .works-container {
    gap: 10px;
  }

  .work-section {
    flex-direction: column-reverse;
    padding: 25px;
    gap: 10px;
  }

  .description,
  .img-btns {
    max-width: 1024px;
    width: 100%;
  }
}

.description {
  background-color: var(--primary-500);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  gap: 30px;
}

.description > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description > span {
  color: var(--primary-500);
}

.img-btns {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-btns img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

/* ------------ CONTACT ------------ */

.contact-container {
  max-width: 605px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.text > h3 {
  font-size: clamp(39px, 10vw, 49px);
}

.text > p {
  font-size: clamp(20px, 3vw, 25px);
}

/* ------------ FOOTER ------------ */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  margin-top: 100px;
  margin-bottom: 25px;
}

.footer > div {
  display: flex;
  gap: 5px;
}

.footer > span {
  font-family: "Courier New", Courier, monospace;
}

/* ------------ LOADING SCREEN ------------ */
#logo-loading {
  width: 100px;
  animation: shrink 0.3s ease-out 3s forwards;
}

.loading-background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  top: 0;
  position: absolute;
}

.loading-container {
  animation: delete 0.3s ease-out 3s forwards;
  z-index: 100;
}

.path-logo-loading {
  stroke-dasharray: 402.7303466796875;
  stroke-dashoffset: 402.7303466796875;
  animation: dash 2s ease-out forwards, fill 0.4s ease-in 2.2s forwards;
  fill: transparent;
}

@keyframes dash {
  from {
    stroke-dashoffset: 402.7303466796875;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #102fce;
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes delete {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* ------------ SCROLL BAR ------------ */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-500);
}
